body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: rgb(243, 118, 102);
    width: 400px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle,.circle1,.circle2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgb(173, 173, 173);
    animation-name: circle;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
.circle1{
    animation-delay: 0.3s;
}
.circle2{
    animation-delay: 0.6s;
}
@keyframes circle {
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 100%;
    }
    100%{
        width: 0%;
        height: 0%;
    }
}